<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="bower_components/bootstrap/less/bootstrap.css">
        <meta chatset="UTF-8">
        <title>Another tutorial to follow</title>
    </head>
    
    <body>
        
        <div id="todo">
            <input type='checkbox' />
        </div>
        
        <script type="text/template" id="item-template">
        
        <div>
        
            <input id="todo_complete" type="checkbox" <%= completed ? 'checked="checked"' : '' %>>
            <%= title %>
        
        </div>
        
        
        </script>

        
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <script src="script2.js"></script>
    
    
    </body>
</html>  